@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card span
{
  position: absolute;
  top: 0;
  width: 220px;
  height: 220px;
  display: block;
  background: #000;
  border-radius: 50%;
  transform-origin: 125px 0;
  transform: rotate(calc(90deg * var(--i)));
  filter: blur(80px);
  opacity: 0.75;
}
.card span:nth-child(1)
{
  background: #0EF7D7;
}
.card span:nth-child(2)
{
  background: #F7F70E;
}
.card span:nth-child(3)
{
  background: #55F70E;
}
.card span:nth-child(4)
{
  background: #EB1919;
}
.card .glass
{
  position: absolute;
  width: 450px;
  height: 300px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.card .glass::before
{
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  transform: skewX(345deg);
}
.card .glass h2
{
  padding: 20px;
  font-weight: 200;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  color: #333;
  text-align: end;
}
